
/*导航栏*/
.full{
	background-color:#8e8e8e!important;
	height:80px;
	margin:0 auto;
	
}

.navstyle{
	width:1000px!important;
	margin: auto;
	padding-top:15px;
	
}


a.navli{
	font-size:20px;
	color:#fff;
	padding-left:20px;
}

a.navli:hover{
	color:red;
	background-color: #8e8e8e!important;
}

.ft20{
	font-size:20px;
}


/*header*/

.top-header ul{
	width:100%;
	float:right;
	text-align:right;
	margin:5px;
}

.top-header li{
	display: inline-block;
	padding-left:10px;
}

.top-header a:{
	text-decoration:none;
	padding-left:15px;
	color:black!important;
}

.top-header a:hover{
	text-decoration:none;
	color:red;
}
.ft16 a{
	font-size:16px;
}

/*bottom*/
.foot{
	text-align:center;
	background:black;
	padding:2em 0;
}

.foot p{
	font-size:1em;
	color:#f5f5f5;
	letter-spacing: 2px;
	text-align:center;
}

/*中心概况*/

.imgdiv{
	padding:0;
}

.imgdiv img{
	width:100%;
	
}

/*.textdiv{
	background:#efefef;
	padding:0;
	width:100%;
}
*/
.textbox{
	background:#efefef;
	padding:30px 15px 30px 15px;
}
.abstract h3{
	margin-bottom:15px;
	text-align:center;
	font-size:25px;
}

.abinfo p{
	font-size:13px;
	margin-bottom:10px;
}

.abinfo a{
	
	font-size:12px;
	text-align:center;
	border: 1px solid #222;
    display: inline-block;
    padding: 5px 10px;
    transition: .3s;
    width: 100px;
	color:#222;
	
} 

.abinfo a:hover{
	
	color:#fff;
	background-color:#000;
	text-decoration:none;

}

/* news*/
.two .single-service-icon i {
    color: #bbbbbb;
    font-size: 35px;
    line-height: 78px;
}
.two .single-service-icon a{
    border: 1px solid #bbbbbb;
    border-radius: 50%;
    height: 80px; 
    width: 80px;
    display: block;
    margin: auto;
}
.single-service-icon{margin-bottom: 27px;}
.single-service-content h4{
    font-size: 16px;
    color: #333333;
    font-family: 'Open Sans', sans-serif;;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 15px;
}
.single-service-content p{
    font-size: 14px;
    color: #666666;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin-bottom: 0;
}
.single-service{
    padding: 30px 25px 25px;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.two .single-service {padding: 70px 30px}
.two .single-service:hover i, .two .single-service-content h4:hover a{color: #3ba5f7}
.two .single-service{box-shadow: 0px 1px 5px 0px rgba(225, 225, 225, 0.3); position: relative}
.two .single-service:after{
    position: absolute;
    right: 0;
    bottom: 0;
    color: #bbbbbb;
    font-size: 150px;
    content: "";
    font-family: "Material-Design-Iconic-Font";
    background: #fff;
}
.single-service:hover {
  box-shadow: 0px 6px 15px 0px rgba(59, 59, 59, 0.21);
}
.single-service-icon-three{
    background: #F6F6F6;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    display: inline-table;
    margin: auto;
    margin-bottom: 25px;
    box-shadow: 0px 0px 14.25px 0.75px rgba(51, 51, 51, 0.15); 
    z-index: 2;
    position: relative;
}
.single-service-icon-three a{
    display: table-cell;
    vertical-align: middle;
}
.single-service-content-three h4{
    font-size: 15px;
    color: #666666;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    position: relative;
    text-transform: uppercase;
    margin-bottom: 12px;
    padding-bottom: 18px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.single-service-content-three h4:hover a{
    color: #fff;
}
.single-service-content-three p{
    font-size: 13px;
    color: #333333;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.single-service-content-three h4:after{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    width: 50px;
    background: #DDDDDD;
    content: "";
    text-align: center;
    margin: auto;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.single-service-three{
    border-top: 1px solid #F6F6F6;
    border-left: 1px solid #F6F6F6;
    padding: 45px 25px;
    width: 33.3333%;
    float: left;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.service-area.three .single-service-three:nth-child(3), .service-area.three .single-service-three:nth-child(6){
    border-right: 1px solid #F6F6F6;
}
.service-area.three .single-service-three:nth-child(4), .service-area.three .single-service-three:nth-child(5), .service-area.three .single-service-three:nth-child(6){
    border-bottom: 1px solid #F6F6F6;
}
.single-service-three:hover{
    position: relative;
    background: rgba(0, 0, 0, 0) url("img/banner/service.jpg") no-repeat scroll center center / cover ;
    transition: all 0.5s ease 0s;
}
.single-service-three:hover::after{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: rgba(0, 0, 0, 0.4);
}
.single-service-three:hover h4, .single-service-three:hover p{
    color: #fff;
    z-index: 1;
    position: relative;
}
.single-service-three:hover h4:after{
    background: #fff;
    z-index: 1;
}

.newstittle{
	color:black;
	text-decoration:none;
	
}

.single-service-content a:hover{
	color:red;
	text-decoration:none;
	
}

/**/
.section-title {
    position: relative;
    z-index: 999;
}
.section-title > h2 {
    font-size: 28px;
    font-weight: bold;
    line-height: 1;
    margin: 0;
}

.icon-img {
    display: inline-block;
    margin: 15px 0;
    position: relative;
}

.icon-img::after,
.icon-img::before {
    background-color: #dddddd;
    bottom: 13px;
    content: "";
    height: 1px;
    position: absolute;
    right: 66px;
    width: 130px;
}
.icon-img::before {
    left: 66px;
}

.mb-75{
	margin-top:30px;
	margin-bottom:50px;
}

.more a{
	margin-bottom:5px;
	float:right;
	text-decoration:none;
	color:black;
}

.more a:hover{
	color:red;
	text-decoration:none;
}

/*公告和活动*/

.textittle{
	margin-top:25px;
	margin-bottom:15px;
	font-size:20px;
	text-align:center;
    font-weight: bold;
    font-family: "Helvetica Neue","Hiragino Sans GB","Verdana","Microsoft YaHei","Arial","sans-serif";
    color: #000;
}

.textittle small{
	font-size: 16px;
    font-weight: normal;
    color: #c4c4c4;
	margin-left:5px;
}

.textittle i{
	
	margin-right:7px;
}
.panel{
	margin:15px auto;
	width:75%;
	border-top: 2px solid #dedede;
    border-bottom: 2px solid #dedede;
    border-radius: 2px;
    border-color: #e5e5e5;
}
.panel1 a{
	color:black;
	font-size:14px;
	text-align:right;
	display:block;
	margin-top:10px;
	margin-bottom:20px;
}

.panel2 a{
	color:black;
	font-size:14px;
	text-align:center;
	display:block;
	margin-top:10px;
	margin-bottom:20px;
}

.panel3 a{
	color:black;
	font-size:14px;
	text-align:left;
	display:block;
	margin-top:10px;
	margin-bottom:20px;
}

.panel a:hover{
	color:red;
	text-decoration:none;
}
.panel span{
	font-size:12px;
	padding-left:10px;
	font-weight: normal;
    color: #c4c4c4;
}
.wd60 a{
	text-decoration:none;
	font-weight: bold;
    font-family: "Helvetica Neue","Hiragino Sans GB","Verdana","Microsoft YaHei","Arial","sans-serif";
    color: #000;
}
.wd60 a:hover{
	font-weight: bold;
	color: #0e419c;
    margin-left: 2px!important;
}
.l80{
	left:80px;
}
.r80{
	right:80px;
}

